@functions{ 
    string activeMenu(string actionName)
    {
        string currentAction = Request.RequestContext.RouteData.Values["Action"].ToString();
        if(currentAction == actionName)
        {
            return "active";

        }
        return "";
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,600,700,900&amp;subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Content/fontawesome-5.6.3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/sweetalert2.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/client-style.css">
    <link rel="stylesheet" type="text/css" href="~/Content/client-custom-style.css">
    <link rel="stylesheet" type="text/css" href="~/Content/responsive-style.css">
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
</head>

<body>
    <!-- header start -->
    <header class="header">
        <div class="header-wrapper">

            <!--sidebar menu toggler start -->
            <div class="toggle-sidebar material-button d-block d-md-none">
                <i class="material-icons">&#xE5D2;</i>
            </div>
            <!--sidebar menu toggler end -->
            <!--logo start -->
            <div class="logo-box">
                <a href="/" class="h3 text-white font-weight-bold">ENV SURVEY</a>
            </div>
            <!--logo end -->

            <div class="header-menu">

                <!-- header left menu start -->
                <ul class="header-navigation" data-show-menu-on-mobile>
                    <li>
                        <a href="/" class="material-button @activeMenu("Index")">HOME</a>
                    </li>
                    <li>
                        <a href="/Home/SurveyBoard" class="material-button submenu-toggle @activeMenu("SurveyBoard")">ALL SURVEYS</a>
                    </li>
                    <li>
                        <a href="/Home/Support" class="material-button submenu-toggle @activeMenu("Support")">SUPPORT</a>
                    </li>
                    <li>
                        <a href="/Home/FAQ" class="material-button submenu-toggle @activeMenu("FAQ")">FAQ's</a>
                    </li>
                </ul>
                <!-- header left menu end -->

            </div>
            <div class="header-right with-seperator">

                <!-- header right menu start -->
                <ul class="header-navigation">
                    <li>
                        <a href="#" class="material-button search-toggle"><i class="material-icons">&#xE8B6;</i></a>
                    </li>
                    <li>
                        @if (ViewBag.User != null)
                        {
                            <a href="#" class="material-button submenu-toggle">
                                @*<i class="material-icons">&#xE7FD;</i>*@
                                <img src="~/Images/icons/icons8-male-user-32.png" alt="Avatar" />
                                <span class="hide-on-tablet ml-1">@ViewBag.User.Name</span>
                            </a>
                            <div class="header-submenu">
                                <ul>
                                    <li><a href="/Home/Profile/@ViewBag.User.UID"><i class="fas fa-id-card mr-1"></i>Profile</a></li>
                                    <li><a href="/Home/Logout" class="text-danger"><i class="fas fa-sign-out-alt mr-1"></i>Logout</a></li>
                                </ul>
                            </div>
                        }
                        else
                        {
                            <a href="#" class="material-button submenu-toggle">
                                <i class="material-icons">&#xE7FD;</i>
                                <span class="hide-on-tablet">Account</span>
                            </a>
                            <div class="header-submenu">
                                <ul>
                                    <li><a href="#" data-modal="loginModal">Login</a></li>
                                    <li><a href="#" data-modal="registerModal">Register</a></li>
                                </ul>
                            </div>
                        }

                    </li>
                    <li class="hide-on-mobile"><a href="#" class="material-button" data-modal="newsletterModal"><i class="material-icons">&#xE0E1;</i></a></li>
                </ul>
                <!-- header right menu end -->

            </div>

            <!--header search panel start -->
            <div class="search-bar">
                <div class="search-input-wrapper">
                    <form class="search-form" action="/Home/Search" method="GET">
                        <input type="text" name="q" placeholder="Search surveys..." class="search-input">
                        <button type="submit" class="search-submit"><i class="material-icons">&#xE5C8;</i></button>
                    </form>
                </div>
            </div>
            <!--header search panel end -->

        </div>
    </header>
    <!-- header end -->
    <!-- Left sidebar menu start -->
    <div class="sidebar">
        <div class="sidebar-wrapper">

            <!-- side menu logo start -->
            <div class="sidebar-logo">
                <a href="#"></a>
                <div class="sidebar-toggle-button">
                    <i class="material-icons">&#xE317;</i>
                </div>
            </div>
            <!-- side menu logo end -->
            <!-- showing on mobile screen sizes -->
            <!-- mobile menu start -->
            <div id="mobileMenu">
                <div class="sidebar-seperate"></div>
            </div>
            <!-- mobile menu end -->
            <!-- sidebar menu start -->
            <ul class="sidebar-menu">
                <li class="active">
                    <a href="/" class="material-button">
                        <span class="menu-icon"><i class="material-icons">&#xE88A;</i></span>
                        <span class="menu-label">Home</span>
                    </a>
                </li>
                <li>
                    <a href="/Home/SurveyBoard" class="material-button">
                        <span class="menu-icon"><i class="material-icons">&#xE038;</i></span>
                        <span class="menu-label">All Surveys</span>
                    </a>
                </li>
                <li>
                    <a href="/Home/Support" class="material-button">
                        <span class="menu-icon"><i class="material-icons">&#xE0BF;</i></span>
                        <span class="menu-label">Support</span>
                    </a>
                </li>
                <li>
                    <a href="/Home/FAQ" class="material-button">
                        <span class="menu-icon"><i class="material-icons">&#xE866;</i></span>
                        <span class="menu-label">FAQ's</span>
                    </a>
                </li>

            </ul>
            <!-- sidebar menu end -->

            <div class="sidebar-seperate"></div>

            <!-- sidebar menu start -->
            <ul class="sidebar-menu">
                <li>
                    <a href="https://facebook.com" class="facebook material-button">
                        <span class="menu-label">Facabook</span>
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com" class="twitter material-button">
                        <span class="menu-label">Twitter</span>
                    </a>
                </li>
            </ul>
            <!-- sidebar menu end -->
        </div>
    </div>
    <!-- Left sidebar menu end -->
    <!--Main container start -->
    <main class="main-container">
        @RenderBody()
    </main>

    <!-- Register popup html source start -->
    <div class="m-modal-box" id="registerModal">
        <div class="m-modal-overlay"></div>
        <div class="m-modal-content small">
            <div class="m-modal-header">
                <h3 class="m-modal-title">Register</h3>
                <span class="m-modal-close"><i class="material-icons">&#xE5CD;</i></span>
            </div>
            <div class="m-modal-body">
                @Html.Partial("RegisterForm", new ViewDataDictionary<EnvironmentalSurveyPortal.Models.RegisterAccount>())
            </div>
        </div>
    </div>
    <!-- Register popup html source end ---->
    <!-- Login popup html source start -->
    <div class="m-modal-box" id="loginModal">
        <div class="m-modal-overlay"></div>
        <div class="m-modal-content small">
            <div class="m-modal-header">
                <h3 class="m-modal-title">Login</h3>
                <span class="m-modal-close"><i class="material-icons">&#xE5CD;</i></span>
            </div>
            <div class="m-modal-body">
                @Html.Partial("LoginForm", new ViewDataDictionary<EnvironmentalSurveyPortal.Models.LoginAccount>())
            </div>
        </div>
    </div>
    <!-- Login popup html source end -->
    <!-- Newsletter popup html source start -->
    <div class="m-modal-box" id="newsletterModal">
        <div class="m-modal-overlay"></div>
        <div class="m-modal-content small">
            <div class="m-modal-header">
                <h3 class="m-modal-title">Newsletter</h3>
                <span class="m-modal-close"><i class="material-icons">&#xE5CD;</i></span>
            </div>
            <div class="m-modal-body">
                <p>Submit to our newsletter to receive exclusive stories delivered to you inbox!</p>
                <form>
                    <div class="frm-row">
                        <input class="frm-input" type="text" name="email" placeholder="Email address">
                    </div>
                    <div class="frm-row">
                        <button class="frm-button material-button full" type="button">Send</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Newsletter popup html source end -->

    <div class="overlay"></div>

    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/sweetalert2.min.js"></script>
    <script src="~/Scripts/client-script.js"></script>


</body>

</html>