@model IEnumerable<EnvironmentalSurveyPortal.Models.User>
@{
    Layout = "~/Views/Shared/_Admin.cshtml";
    ViewBag.Title = "Users Management";
}

<!-- Main Content -->
<div id="content">
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mt-4">
            <h4 class="mb-0 text-gray-800">Users List</h4>
            <a href="/Admin/CreateAccount" class="d-sm-inline-block btn btn-sm btn-success shadow-sm">
                <i class="fas fa-plus fa-sm text-white mr-1"></i>New User
            </a>
        </div>
        <div class="card o-hidden border-0 shadow-lg mt-3 mb-5">
            <table class="table table-striped m-0">
                <thead>
                    <tr>
                        <th class="text-center">UID</th>
                        <th>Fullname</th>
                        <th class="text-center">Class</th>
                        <th class="text-center">Specification</th>
                        <th class="text-center">Section</th>
                        <th class="text-center">Role</th>
                        <th class="text-center">Create Date</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td class="text-center">@user.UID</td>
                            <td>@user.Name</td>
                            <td class="text-center">@user.Class</td>
                            <td class="text-center">@user.Specification</td>
                            <td class="text-center">@user.Section</td>
                            <td class="text-center">@user.Role</td>
                            <td class="text-center">@user.CreateDate.ToString("MMM-dd-yyyyy")</td>
                            <td class="text-center">
                                @if (user.isActive)
                                {
                                    <span class="badge badge-success">Activated</span>
                                }
                                else
                                {
                                    <span class="badge badge-warning">Pending</span>
                                }
                            </td>
                            <td class="text-center">
                                @if (!user.isActive)
                                {
                                    <a href="/Admin/ActiveUser/@user.UID" class="btn btn-sm btn-success" title="Click to active">
                                        <i class="fas fa-check"></i>
                                    </a>
                                }
                                else
                                {
                                    <button disabled class="btn btn-sm btn-success" title="Activated">
                                        <i class="fas fa-check-double"></i>
                                    </button>
                                }
                                <a class="btn btn-sm btn-info" href="/Admin/EditUser/@user.UID" title="Edit">
                                    <i class="fas fa-edit"></i>
                                </a>
                                @if (user.Role == "Admin")
                                {
                                    <button class="btn btn-sm btn-dark" disabled title="Cannot delete admin">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                }
                                else
                                {
                                    <button class="btn btn-sm btn-danger" onclick="requestDeleteUser('@user.UID')" title="Delete">
                                        <i class="fas fa-trash"></i>
                                    </button>
                                }

                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="card-footer text-right">Total @Model.Count()</div>
        </div>
    </div>
    <!-- /.container-fluid -->

</div>
<!-- End of Main Content -->
<script>
    function requestDeleteUser(uid) {
        Swal.fire({
            title: 'Are you sure you want to delete this user ?',
            type: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.value) {
                $.get(
                    "/Admin/DeleteUser/" + uid,
                    function (res) {
                        location.href = "/Admin/AllUsers";
                    }
                ).fail(function () {
                    Toast.fire({
                        type: 'error',
                        title: 'Cannot delete admin'
                    });
                });
            }
        });
    }
</script>