@model IEnumerable<EnvironmentalSurveyPortal.Models.User>
@{
    Layout = "~/Views/Shared/_Admin.cshtml";
    ViewBag.Title = "Users Management";
}

<!-- Main Content -->
<div id="content">
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <div class="card o-hidden border-0 shadow-lg mt-3 mb-5">
            <div class="card-body py-5 px-3 px-md-5">
                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h4 class="mb-0 text-gray-800">Users List</h4>
                </div>

                <div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>UID</th>
                                <th>Fullname</th>
                                <th>Class</th>
                                <th>Specification</th>
                                <th>Section</th>
                                <th>Role</th>
                                <th class="text-center">Status</th>
                                <th class="text-center">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var user in Model)
                            {
                                <tr>
                                    <td>@user.UID</td>
                                    <td>@user.Name</td>
                                    <td>@user.Class</td>
                                    <td>@user.Specification</td>
                                    <td>@user.Section</td>
                                    <td>@user.Role</td>
                                    <td class="text-center">
                                        @if (user.isActive)
                                        {
                                            <span class="badge badge-success">Activated</span>
                                        }
                                        else
                                        {
                                            <span class="badge badge-warning">Pending</span>
                                        }
                                    </td>
                                    <td class="text-center">
                                        @if (!user.isActive)
                                        {
                                            <a href="/Admin/ActiveUser/@user.UID" class="btn btn-sm btn-success" title="Active">
                                                <i class="fas fa-check"></i>
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="" class="btn btn-sm btn-success disabled" title="Active">
                                                <i class="fas fa-check-double"></i>
                                            </a>
                                        }
                                        <a class="btn btn-sm btn-info" href="/Admin/EditUser/@user.UID" title="Edit">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        <button class="btn btn-sm btn-danger" onclick="requestDeleteUser('@user.UID')" title="Delete">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->

</div>
<!-- End of Main Content -->


