@model EnvironmentalSurveyPortal.Models.Survey

    <div class="container-fluid">
        <div class="card o-hidden border-0 shadow-lg mt-3 mb-5">
            <div class="card-body p-0 d-flex justify-content-center">
                <div class="col-12 col-lg-9 py-5 px-3 px-md-5">
                    <div class="text-center">
                        <h1 class="h4 text-gray-900 mb-4">Create New Survey</h1>
                    </div>
                    <form id="form-create-survey" class="user">

                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <div class="form-group">
                            <input type="text" class="form-control form-control-user form-control-user-md" id="survey-name"
                                   placeholder="Survey Name">
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group form-inline form-group-user px-3">
                            <label for="survey-for" class="text-gray-800 mr-4">Survey For</label>
                            <div class="form-check mr-2">
                                <input class="form-check-input" type="checkbox" value="" id="checkStaff">
                                <label class="form-check-label" for="checkStaff">Faculty/Staff</label>
                            </div>

                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="" id="checkStudent">
                                <label class="form-check-label" for="checkStudent">Student</label>
                            </div>
                            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group">
                            <div id="editor" class="editor"></div>
                            @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                            <script>
                                var quill = new Quill('#editor', {
                                    placeholder: 'Write content here...',
                                    theme: 'snow'
                                });
                            </script>
                        </div>

                        <div class="form-group row">
                            <div class="col-lg-6">
                                @Html.LabelFor(model => model.StartDate, new { @class = "ml-3 text-gray-800" })
                                <input name="StartDate" type="date" id="start-date" class="form-control date-control-user date-control-user-md" placeholder="Start Date" />
                                @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
                            </div>

                            <div class="col-lg-6">
                                @Html.LabelFor(model => model.EndDate, new { @class = "ml-3 text-gray-800" })
                                <input type="date" id="end-date" class="form-control date-control-user date-control-user-md" placeholder="End Date" />
                                @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <button type="button" id="btn-submit" class="btn btn-primary btn-user btn-block">Create Survey</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

@if (ViewBag.Successed != null)
{
    <script>
        Toast.fire({
            type: 'success',
            title: 'Create survey successfully'
        })
    </script>
}

<script>
    $('#form-create-survey #btn-submit').click(function () {
        var content = $('#editor .ql-editor').html();
        content = content == "<p><br></p>" ? "" : content;
        var data = {
            Name: $('#survey-name').val().trim(),
            Content: content,
            StartDate: $('#start-date').val().trim(),
            EndDate: $('#end-date').val().trim()
        };

        $.post(
            "/Admin/CreateSurvey",
            data,
            function (res) {
                $('#content').html(res);
            }
        );
    });
</script>

