@model IEnumerable<EnvironmentalSurveyPortal.Models.Survey>
@{
    Layout = "~/Views/Shared/_Admin.cshtml";
    ViewBag.Title = "All Users";
}

<div id="content">
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <div class="card o-hidden border-0 shadow-lg mt-3 mb-5">
            <div class="card-body">
                <!-- Page Heading -->
                <div class="d-flex align-items-center justify-content-between mb-4 flex-wrap">
                    <h4 class="mb-0 text-gray-800">
                        All Surveys
                        <a href="/Admin/CreateSurvey" class="d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-plus fa-sm text-white-50"></i> Create New Survey</a>
                    </h4>
                </div>

                <div>
                    <table class="table text-gray-800">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.ID)</th>
                                <th>@Html.DisplayNameFor(model => model.Name)</th>
                                <th>@Html.DisplayNameFor(model => model.StartDate)</th>
                                <th>@Html.DisplayNameFor(model => model.EndDate)</th>
                                <th class="text-center">Actions</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.ID</td>
                                    <td>@item.Name</td>
                                    <td>@item.StartDate.ToString("dd-MM-yyyy")</td>
                                    <td>@item.EndDate.ToString("dd-MM-yyyy")</td>
                                    <td class="text-center">
                                        @Html.ActionLink("Feedbacks", "EditSurvey", new { id = item.ID }, new { @class = "btn btn-sm btn-info" })
                                        @Html.ActionLink("Modify", "EditSurvey", new { id = item.ID }, new { @class = "btn btn-sm btn-warning" })
                                        @Html.ActionLink("Delete", "DeleteSurvey", new { id = item.ID }, new { @class = "btn btn-sm btn-danger" })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
