@model IEnumerable<EnvironmentalSurveyPortal.Models.Survey>
@{
    Layout = "~/Views/Shared/_Admin.cshtml";
    ViewBag.Title = "Surveys Management";
}

<div id="content">
    <!-- Begin Page Content -->
    <div class="container-fluid">
        <div class="card o-hidden border-0 shadow-lg mt-3 mb-5">
            <div class="card-body">
                <!-- Page Heading -->
                <div class="d-flex align-items-center justify-content-between mb-4 flex-wrap">
                    <h4 class="mb-0 text-gray-800">
                        All Surveys
                        <a href="/Admin/CreateSurvey" class="d-sm-inline-block btn btn-sm btn-success shadow-sm"><i class="fas fa-plus fa-sm text-white-50"></i> Create New Survey</a>
                    </h4>
                </div>

                <div>
                    <table class="table text-gray-800">
                        <thead>
                            <tr>
                                <th class="text-center">ID</th>
                                <th>Survey Name</th>
                                <th class="text-center">Survey For</th>
                                <th class="text-center">Start Date</th>
                                <th class="text-center">End Date</th>
                                <th class="text-center">Create Date</th>
                                <th class="text-center">Actions</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                int? n = null;
                                if(@item.Feedbacks != null)
                                {
                                    if(@item.Feedbacks.Count > 0)
                                    {
                                        n = @item.Feedbacks.Count;
                                    }
                                }
                                <tr>
                                    <td class="text-center">@item.ID</td>
                                    <td class="survey-name">@item.Name</td>
                                    <td class="text-center">@item.For</td>
                                    <td class="text-center">@item.StartDate.ToString("dd-MM-yyyy")</td>
                                    <td class="text-center">@item.EndDate.ToString("dd-MM-yyyy")</td>
                                    <td class="text-center">@item.CreateDate.ToString("dd-MM-yyyy")</td>
                                    <td class="text-center">
                                        <a href="/Admin/FeedbackAnalysis/@item.ID" class="btn btn-sm btn-info" title="Feedback Analysis">
                                            <i class="fas fa-chart-pie"></i>
                                        </a>
                                        <a href="/Admin/Feedbacks/@item.ID" class="btn btn-sm btn-dark" title="View All Feedbacks">
                                            <i class="fas fa-comments"></i>
                                            <span class="badge badge-secondary">@n</span>
                                        </a>
                                        <a href="?Admin/EditSurvey/@item.ID" class="btn btn-sm btn-warning" title="Edit Survey">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        <button class="btn btn-sm btn-danger" onclick="requestDeleteSurvey('@item.ID')" title="Delete Survey">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
