@model EnvironmentalSurveyPortal.Models.Competition

@{
    ViewBag.Title = @Model.Name;
}

<link rel="stylesheet" type="text/css" href="~/Content/quill.snow.css">
<script src="~/Scripts/quill.min.js"></script>
<section class="main-content">
    <div class="main-content-wrapper">
        <div class="content-body card">
            @if (ViewBag.User == null)
            {
                <div class="alert alert-danger h5 mt-4 text-center">You need login to view this competition</div>
            }
            else if (ViewBag.User.Role == Model.For)
            {
                if (Model.StartDate > DateTime.Now)
                {
                    <div class="alert alert-danger h5 mt-4 text-center">Comming Soon</div>
                }
                else if (DateTime.Now > Model.EndDate)
                {
                    <div class="alert alert-danger h5 mt-4 text-center">Expired Competition</div>
                }
                else
                {
                    <div class="card-body">
                        <h4 class="text-center text-danger">@Model.Name</h4>
                        <div class="mt-5">
                            <div>
                                @Html.Raw(Model.Content)
                            </div>
                        </div>
                        <hr class="mt-1 mb-5" />
                        @{ var post = Model.Posts.FirstOrDefault(p => p.UserUID == ViewBag.User.UID); }

                        @if (post == null)
                        {
                            <form id="form-survey-feedback">
                                <div class="form-group">
                                    <div id="editor" style="height: 400px"></div>
                                </div>
                                <div class="mt-4 text-center">
                                    <button type="submit" class="btn btn-danger">Submit</button>
                                </div>
                            </form>
                        }
                        else
                        {
                            <div class="alert alert-danger h5 mt-4 text-center">You posted on @post.Time.ToString("MMM-dd-yyyy hh:mm:ss tt")</div>
                        }
                    </div>
                    <div class="card-footer d-flex justify-content-between align-items-end">
                        <div>
                            <span>Publish Date: <strong>@Model.CreateDate.ToString("MMM-dd-yyyy")</strong></span>
                            <br />
                            Start Date: <strong>@Model.StartDate.ToString("MMM-dd-yyyy")</strong> |
                            End Date: <strong>@Model.EndDate.ToString("MMM-dd-yyyy")</strong>
                        </div>
                        <div>
                            <span class="text-black-50">@Model.Posts.Count Practipates</span>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="alert alert-danger h5 mt-4 text-center">This competition is for @Model.For</div>
            }
        </div>

        <div class="content-sidebar">
            <div class="sidebar_inner">
                <div class="widget-item">
                    <div class="w-header">
                        <div class="w-title">Prized member</div>
                        <div class="w-seperator"></div>
                    </div>
                    <div class="w-boxed-post owl-carousel owl-theme">
                        @{
                            var competitions = ((IEnumerable<EnvironmentalSurveyPortal.Models.Competition>)ViewBag.Prizes);
                            int index = 0;
                        }
                        @foreach (var competition in competitions)
                        {
                            index = 0;

                            <ul>
                                <li>
                                    <h6 class="text-white text-center py-3 bg-danger m-0">@competition.Name</h6>
                                </li>

                                @foreach (var item in competition.Posts.OrderByDescending(p => p.Score).Take(3).OrderBy(p => p.Time))
                                {
                                    index++;

                                    <li class="@(index == 1 ? "active" : "")">
                                        <a href="#" style="background-image: url('@item.Competition.Image');">
                                            <div class="box-wrapper">
                                                <div class="box-left">
                                                    <span>@(index)</span>
                                                </div>
                                                <div class="box-right" style="width:100%">
                                                    <h3 class="p-title">@item.User.Name</h3>
                                                    <div class="p-icons">
                                                        @item.User.UID
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                }
                                @if (index == 0)
                                {
                                    <li>
                                        <div class="text-center mt-5 mb-1">Date of publication</div>
                                        <div class="text-center mt-1 mb-5">@competition.EndDate.AddDays(1).ToString("MMM-dd-yyyy")</div>
                                    </li>
                                }
                            </ul>
                        }
                    </div>
                </div>

                <div class="widget-item">
                    <div class="w-header">
                        <div class="w-title">Popular Surveys</div>
                        <div class="w-seperator"></div>
                    </div>
                    <div class="w-boxed-post">
                        <ul>
                            @{ int count = 0; }
                            @foreach (var item in ViewBag.Popular)
                            {
                                <li class="@(count == 0 ? "active" : "")">
                                    <a href="/Home/Survey/@item.ID" style="background-image: url('@item.Image');">
                                        <div class="box-wrapper">
                                            <div class="box-left">
                                                <span>@(++count)</span>
                                            </div>
                                            <div class="box-right">
                                                <h3 class="p-title">@item.Name</h3>
                                                <div class="p-icons">
                                                    @item.Feedbacks.Count Practitipates
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            }

                        </ul>
                    </div>
                </div>

                <div class="seperator"></div>
                <a href="#" class="widget-ad-box">
                    <img src="~/Images/adbox300x250.png" width="300" height="250">
                </a>
            </div>
        </div>
    </div>
</section>
<script>

    new Quill('#editor', {
        theme: 'snow',
        placeholder: 'Write your post here...'
    });

    $("form").submit(function (e) {

        e.preventDefault();

        var content = this.querySelector(".ql-editor").innerHTML;
        content = content == "<p><br></p>" ? "" : content;

        if (content != "") {

            var data = {
                post: {
                    Content: content,
                    CompetitionID: @Model.ID,
                    UserUID: "@ViewBag.User.UID"
                }
            };

            $.ajax({
                url: "/Home/Post",
                type: "POST",
                dataType: 'json',
                contentType: 'application/json',
                data: JSON.stringify(data),
                processData: false,
                statusCode: {
                    200: function (responseObject, textStatus, jqXHR) {
                        Swal.fire({
                            title: 'Successful. Your post has been submitted !',
                            type: 'success',
                            showCancelButton: false,
                            confirmButtonText: 'Close'
                        }).then(function (r) {
                            location.reload();
                        });
                    },
                    201: function (res, textStatus, errorThrown) {
                        Swal.fire({
                            title: 'Error. Cannot process your post at this time !',
                            type: 'error',
                            showCancelButton: false,
                            confirmButtonText: 'Close'
                        });
                    }
                }
            });
        } else {
            Swal.fire({
                title: 'You must complete your post !',
                type: 'warning',
                showCancelButton: false,
                confirmButtonText: 'Close'
            });
        }

    });
</script>
