@model EnvironmentalSurveyPortal.Models.Pagination

@{
    ViewBag.Title = "Environmental Survey Portal";
}

<section class="main-content">
    <div class="main-content-wrapper">
        <div class="content-body">
            <div class="content-timeline">
                <!--Timeline header area start -->
                <div class="post-list-header">
                    <div class="post-list-title text-danger">Latest surveys</div>
                </div>
                <!--Timeline header area end -->

                <div class="post-lists">

                    @foreach (var item in Model.Surveys)
                    {
                        var time = DateTime.Now - item.CreateDate;
                        var timeAgo = "";
                        if (time.Days != 0)
                        {
                            var months = time.Days / 30;
                            var years = months / 12;

                            if (years != 0)
                            {
                                timeAgo = years + " years ago";
                            }
                            else if (months != 0)
                            {
                                timeAgo = months + " month ago";
                            }
                            else
                            {
                                timeAgo = time.Days + " day ago";
                            }
                        }
                        else if (time.Hours != 0)
                        {
                            timeAgo = time.Hours + " hour ago";
                        }
                        else if (time.Minutes != 0)
                        {
                            timeAgo = time.Minutes + " minute ago";
                        }
                        else
                        {
                            timeAgo = time.Seconds + " second ago";
                        }

                        <div class="columns column-3">
                            <div class="post-list-item">
                                <div class="post-top" style="background-image: url('@item.Image')">
                                    <h3 class="post-title">
                                        <a href="/Home/Survey/@item.ID"><span>@item.Name</span></a>
                                    </h3>
                                </div>
                                <div class="post-bottom">

                                    <div class="timeline-post-info">

                                        <div class="d-flex align-items-center">
                                            <i class="material-icons mr-1">&#xE894;</i><span class="mr-2">@timeAgo</span>
                                            <a href="#" class="timeline-category-name">For @item.For</a>
                                        </div>

                                        <span>@item.StartDate.ToShortDateString() - @item.EndDate.ToShortDateString()</span>
                                        <span class="dot"></span>
                                        <span class="comment">@(item.Feedbacks != null ? item.Feedbacks.Count : 0) Practipates</span>
                                    </div>
                                    <div class="post-meta">
                                        <p>@string.Join(" ", item.Content.Split().Take(20))...</p>
                                        <a href="/Home/Survey/@item.ID" class="read-more">Read more <i class="material-icons"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>

                <!--pagination start  -->
                <div class="text-center">
                    <ul class="pagination d-inline-flex">
                        <li class="page-item @(Model.CurrentPage <= 1 ? "disabled" : "")">
                            <a class="page-link" href="/Home/Index/@(Model.CurrentPage-1)">
                                <i class="fas fa-chevron-left"></i>
                            </a>
                        </li>
                        @for (int i = 1; i <= Model.TotalPage; i++)
                        {
                            <li class="page-item @(Model.CurrentPage == i ? "active" : "")">
                                <a class="page-link" href="/Home/Index/@i">@i</a>
                            </li>
                        }
                        <li class="page-item @(Model.CurrentPage >= Model.TotalPage ? "disabled" : "")">
                            <a class="page-link" href="/Home/Index/@(Model.CurrentPage+1)">
                                <i class="fas fa-chevron-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <!--pagination end  -->
            </div>

        </div>

        <div class="content-sidebar">
            <div class="sidebar_inner">
                <div class="widget-item">
                    <div class="w-header">
                        <div class="w-title">Prized member</div>
                        <div class="w-seperator"></div>
                    </div>
                    <div class="w-boxed-post">
                        <ul>
                            @{int index = 0; }
                            @foreach (var item in ViewBag.Prizes)
                            {
                                <li class="@(index == 0 ? "active" : "")">
                                    <a href="#" style="background-image: url(/Images/@item.Survey.Image);">
                                        <div class="box-wrapper">
                                            <div class="box-left">
                                                <span>@(++index)</span>
                                            </div>
                                            <div class="box-right" style="width:100%">
                                                <h3 class="p-title">@item.User.Name</h3>
                                                <div class="p-icons">
                                                    @item.Survey.Name
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>

                <div class="widget-item">
                    <div class="w-header">
                        <div class="w-title">Popular Surveys</div>
                        <div class="w-seperator"></div>
                    </div>
                    <div class="w-boxed-post">
                        <ul>
                            @{ int count = 0; }
                            @foreach (var item in ViewBag.Popular)
                            {
                                <li class="@(count == 0 ? "active" : "")">
                                    <a href="#" style="background-image: url(/Images/@item.Image);">
                                        <div class="box-wrapper">
                                            <div class="box-left">
                                                <span>@(++count)</span>
                                            </div>
                                            <div class="box-right">
                                                <h3 class="p-title">@item.Name</h3>
                                                <div class="p-icons">
                                                    @item.Feedbacks.Count Practitipates
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            }

                        </ul>
                    </div>
                </div>

                <div class="seperator"></div>
                <a href="#" class="widget-ad-box">
                    <img src="~/Images/adbox300x250.png" width="300" height="250">
                </a>
            </div>
        </div>
    </div>
</section>

<script>
    window.addEventListener("load", function () {
        //Owl carousel initializing
        $('#postCarousel').owlCarousel({
            loop: true,
            dots: true,
            nav: true,
            navText: ['<span><i class="material-icons">&#xE314;</i></span>', '<span><i class="material-icons">&#xE315;</i></span>'],
            items: 1,
            margin: 20
        });
        //widget carousel initialize
        $('#widgetCarousel').owlCarousel({
            dots: true,
            nav: false,
            items: 1
        });
    });
</script>