@model EnvironmentalSurveyPortal.Models.Register

    <form onsubmit="requestRegister(this, event)">
        @Html.ValidationSummary(true, null, new { @class = "alert-danger" })
        <div class="frm-row">
            <input class="frm-input" type="text" name="UserID" placeholder="Roll No or Employee Number">
            @Html.ValidationMessageFor(model => model.UserID, null, new { @class = "text-danger" })
        </div>
        <div class="frm-row">
            <input class="frm-input" type="text" name="Password" placeholder="Password">
            @Html.ValidationMessageFor(model => model.Password, null, new { @class = "text-danger" })
        </div>
        <div class="frm-row">
            <input class="frm-input" type="text" name="Name" placeholder="Fullname">
            @Html.ValidationMessageFor(model => model.Name, null, new { @class = "text-danger" })
        </div>
        <div class="frm-row">
            <input class="frm-input" type="text" name="Class" placeholder="Class">
            @Html.ValidationMessageFor(model => model.Class, null, new { @class = "text-danger" })
        </div>
        <div class="frm-row">
            <input class="frm-input" type="text" name="Specification" placeholder="Specification">
            @Html.ValidationMessageFor(model => model.Specification, null, new { @class = "text-danger" })
        </div>
        <div class="frm-row">
            <input class="frm-input" type="text" name="Section" placeholder="Section">
            @Html.ValidationMessageFor(model => model.Section, null, new { @class = "text-danger" })
        </div>

        <div class="frm-row">
            <button class="frm-button material-button full" type="submit">Register</button>
        </div>
    </form>
<div class="frm-row">
    <p class="txt-center">Do you already have an account? <a href="#" data-modal="loginModal">Login</a></p>
</div>
