@model IEnumerable<EnvironmentalSurveyPortal.Models.Survey>
@{
    ViewBag.Title = "Search";
}


<section class="main-content">
    <div class="main-content-wrapper">
        <h5 class="font-weight-normal">Found @Model.Count() results for keyword <strong>"@ViewBag.TXT"</strong></h5>
        <div class="content-timeline mt-4">
            <div class="content-body">
                <div class="timeline-items">
                    @foreach (var item in Model)
                    {
                        var time = DateTime.Now - item.CreateDate;
                        var timeAgo = "";
                        if (time.Days != 0)
                        {
                            var months = time.Days / 30;
                            var years = months / 12;

                            if (years != 0)
                            {
                                timeAgo = years + " years ago";
                            }
                            else if (months != 0)
                            {
                                timeAgo = months + " month ago";
                            }
                            else
                            {
                                timeAgo = time.Days + " day ago";
                            }
                        }
                        else if (time.Hours != 0)
                        {
                            timeAgo = time.Hours + " hour ago";
                        }
                        else if (time.Minutes != 0)
                        {
                            timeAgo = time.Minutes + " minute ago";
                        }
                        else
                        {
                            timeAgo = time.Seconds + " second ago";
                        }
                        <div class="timeline-item">
                            <div class="timeline-left">
                                <div class="timeline-left-wrapper">
                                    <a href="#" class="timeline-category" data-zebra-tooltip title="For @item.Participants">
                                        <i class="material-icons">&#xE894;</i>
                                    </a>
                                    <span class="timeline-date">@timeAgo</span>
                                </div>
                            </div>

                            <div class="timeline-right">
                                <div class="timeline-post-image">
                                    <a href="#">
                                        @*<img src="img/news-test-images/news-img8.jpg" width="260">*@
                                    </a>
                                </div>

                                <div class="timeline-post-content">
                                    <a href="#" class="timeline-category-name">For @item.Participants</a>

                                    <a href="#">
                                        <h3 class="timeline-post-title">@item.Name</h3>
                                    </a>

                                    <div class="timeline-post-info">
                                        <span>@item.StartDate.ToShortDateString() - @item.EndDate.ToShortDateString()</span>
                                        <span class="dot"></span>
                                        <span class="comment">@item.NumOfParticipants practipates</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>

            <div class="content-sidebar">
                <div class="sidebar_inner">
                    <div class="widget-item">
                        <div class="w-header">
                            <div class="w-title">Prized member</div>
                            <div class="w-seperator"></div>
                        </div>
                        <div class="w-boxed-post">
                            <ul>
                                @{int i = 0; }
                                @foreach (var item in ViewBag.prizes)
                                {
                                    <li>
                                        <a href="#" style="background-image: url(img/news-test-images/news-img5.jpg);">
                                            <div class="box-wrapper">
                                                <div class="box-left">
                                                    <span>@(++i)</span>
                                                </div>
                                                <div class="box-right" style="width:100%">
                                                    <h3 class="p-title">@item.StudentName</h3>
                                                    <div class="p-icons">
                                                        @item.SurveyName
                                                    </div>
                                                </div>
                                            </div>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="seperator"></div>
                    <a href="#" class="widget-ad-box"></a>
                </div>
            </div>
        </div>
    </div>
</section>

