@model EnvironmentalSurveyPortal.Models.Survey

@{
    ViewBag.Title = @Model.Name;
}

<link rel="stylesheet" type="text/css" href="~/Content/quill.snow.css">
<script src="~/Scripts/quill.min.js"></script>
<section class="main-content">
    <div class="main-content-wrapper">
        <div class="content-body">
            <h4 class="text-center text-uppercase text-danger">@Model.Name</h4>
            <form id="form-survey-feedback">
                <input type="hidden" name="SurveyID" value="@Model.ID" />
                <input type="hidden" name="UserUID" value="@(ViewBag.User != null ? ViewBag.User.UID : "")" />
                @{ var countQuestions = 0; }
                @foreach (var question in Model.Questions)
                {
                    <h6 class="mt-5">@(++countQuestions + ". " + question.Content)</h6>
                    <div class="row">
                        @foreach (var answer in question.Answers)
                        {
                            <div class="col-6">
                                <div class="custom-control custom-radio disable-select">
                                    <input type="radio" name="@("question"+question.ID)" id="@("answer"+answer.ID)" class="custom-control-input" q-id="@question.ID" a-id="@answer.ID">
                                    <label class="custom-control-label" for="@("answer"+answer.ID)">@answer.Content</label>
                                </div>
                            </div>
                        }
                    </div>
                }

                @if (Model.StartDate > DateTime.Now)
                {
                    <span class="h5 text-danger">Kiem tra lai han lam bai</span>
                }
                else if (DateTime.Now > Model.EndDate)
                {
                    <span class="h5 text-danger">Kiem tra lai han lam bai</span>
                }
                else if (ViewBag.User != null)
                {
                    if (Model.For == ViewBag.User.Role)
                    {
                        <div class="mt-4 text-center">
                            <button type="submit" class="btn btn-danger">Submit</button>
                        </div>
                    }
                    else
                    {
                        <div class="alert alert-danger h5 mt-4 text-center">This survey is for @Model.For</div>
                    }
                }
                else
                {
                    <div class="alert alert-danger h5 mt-4 text-center">You need login to post</div>
                }
            </form>
        </div>

        <div class="content-sidebar">
            <div class="sidebar_inner">
                <div class="widget-item">
                    <div class="w-header">
                        <div class="w-title">Prized member</div>
                        <div class="w-seperator"></div>
                    </div>
                    <div class="w-boxed-post">
                        <ul>
                            @{int index = 0; }
                            @foreach (var item in ViewBag.Prizes)
                            {
                                <li class="@(index == 0 ? "active" : "")">
                                    <a href="#" style="background-image: url(/Images/@item.Survey.Image);">
                                        <div class="box-wrapper">
                                            <div class="box-left">
                                                <span>@(++index)</span>
                                            </div>
                                            <div class="box-right" style="width:100%">
                                                <h3 class="p-title">@item.User.Name</h3>
                                                <div class="p-icons">
                                                    @item.Survey.Name
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>

                <div class="widget-item">
                    <div class="w-header">
                        <div class="w-title">Popular Surveys</div>
                        <div class="w-seperator"></div>
                    </div>
                    <div class="w-boxed-post">
                        <ul>
                            @{ int count = 0; }
                            @foreach (var item in ViewBag.Popular)
                            {
                                <li class="@(count == 0 ? "active" : "")">
                                    <a href="#" style="background-image: url(/Images/@item.Image);">
                                        <div class="box-wrapper">
                                            <div class="box-left">
                                                <span>@(++count)</span>
                                            </div>
                                            <div class="box-right">
                                                <h3 class="p-title">@item.Name</h3>
                                                <div class="p-icons">
                                                    @item.Feedbacks.Count Practitipates
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            }

                        </ul>
                    </div>
                </div>

                <div class="seperator"></div>
                <a href="#" class="widget-ad-box">
                    <img src="~/Images/adbox300x250.png" width="300" height="250">
                </a>
            </div>
        </div>
    </div>
</section>
<script>

    $("#form-survey-feedback").submit(function (e) {

            e.preventDefault();

            var answers = [ ];

            var radios = $(this).find("input[type='radio']:checked");

            radios.map(function (i, item) {
                answers.push({
                    AnswerID: item.getAttribute('a-id'),
                    Question: { ID: item.getAttribute('q-id') }
                });
            });

            var data = {
                feedback: {
                    SurveyID: @Model.ID,
                    UserID: "@(ViewBag.User != null ? ViewBag.User.UID : "")",
                    Answers: answers
                }
            };

            if (answers.length == @Model.Questions.Count) {
                $.ajax({
                    url: "/Home/Feedback",
                    type: "POST",
                    data: JSON.stringify(data),
                    dataType: 'json',
                    contentType: 'application/json',
                    statusCode: {
                        200: function (responseObject, textStatus, jqXHR) {
                            Swal.fire({
                                title: 'Successful. Your post has been submitted !',
                                type: 'success',
                                showCancelButton: false,
                                confirmButtonText: 'Close'
                            });
                        },
                        201: function (res, textStatus, errorThrown) {
                            Swal.fire({
                                title: 'Error. Cannot process your post at this time !',
                                type: 'error',
                                showCancelButton: false,
                                confirmButtonText: 'Close'
                            });
                        }
                    }
                });
            } else {
                Swal.fire({
                    title: 'You must complete all questions !',
                    type: 'warning',
                    showCancelButton: false,
                    confirmButtonText: 'Close'
                });
            }

        });
</script>
